*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#141e30,#243b55);
    color:white;
}

.container{
    width:400px;
}

.card{
    background:rgba(255,255,255,0.1);
    padding:30px;
    border-radius:20px;
    backdrop-filter:blur(10px);
    box-shadow:0 8px 20px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:10px;
    font-size:18px;
}

select{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    margin-bottom:20px;
    font-size:16px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#00c6ff;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.03);
}

#result{
    margin-top:20px;
    font-size:18px;
    line-height:1.6;
}

